<form [formGroup]="addUserForm" (ngSubmit)="handleSubmit()" class="px-3 py-4">
  <!--  Header -->
  <div class="d-flex justify-content-between align-items-center">
    <h2>{{title}}</h2>
    <button type="button" class="btn btn-danger" aria-label="Close"
            (click)="bsModalRef.hide()">{{closeBtnName}}</button>
  </div>
  <hr>
  <!--  First name input-->
  <app-custom-input
    [form]="addUserForm"
    label="First name"
    controlName="firstName"
    type="text"
    placeholder="Enter first name..."
    errorMessage="Enter a valid first name!"
  ></app-custom-input>
  <!--  Last name input-->
  <app-custom-input
    [form]="addUserForm"
    label="Last name"
    controlName="lastName"
    type="text"
    placeholder="Enter last name..."
    errorMessage="Enter a valid last name!"
  ></app-custom-input>
  <!--  email input-->
  <app-custom-input
    [form]="addUserForm"
    label="E-mail address"
    controlName="email"
    type="email"
    placeholder="Enter an e-mail address..."
    errorMessage="Enter a valid e-mail!"
  ></app-custom-input>
  <!--  age input-->
  <app-custom-input
    [form]="addUserForm"
    label="Age"
    controlName="age"
    type="number"
    placeholder="Enter age..."
    errorMessage="Enter a valid age!"
  ></app-custom-input>
  <!--  submit button -->
  <button
    type="submit"
    class="btn btn-success"
    [disabled]="this.addUserForm.invalid"
  >
    {{btnText}}
  </button>
  <!--  <pre>{{addUserForm.value | json}}</pre>-->
</form>
